<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr class="text-align-center">
      <th>Article</th>
      <th>Prix</th>
      <th>Quantité</th>
    </tr>
  </thead>
  <% if @cart.items.length > 0 %>
 <tbody>
    <% @cart.items.all.each do |item| %>
    <tr>
      <td>
        <img src="<%= item.image_url %>" > 
      </td>

      <td>
        <%= item.title %>   
      </td>
      <td>
        1       
      </td>
      <td>
        <%= item.price %>       
      </td>
      
    </tr>
    <% end %>
    <tr>
      
    </tr>
  </tbody>
 <% end %>
</table>





<div class="text-center-right">
<%= form_tag checkout_path do %>
  <article>
    <% if flash[:error].present? %>
      
    <% end %>
    <label class="amount">
      <p> Pour passer votre commande, merci de bien vouloir payer : <%= @total   %> €</p>
      
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= (@total)*100 %>"
          data-currency="eur"
          data-locale="auto"></script>

<% end %>
</div>
